GROQ_API_KEY = "groq_api_key"

# Ollama (initilze this download the local ollama)
OLLAMA_BASE_URL=http://localhost:11434
# ollama pull llama3.2:latest 
OLLAMA_MODEL=llama3.2:latest 

# LangSmith
LANGCHAIN_API_KEY="langsmit_api_key"
LANGCHAIN_PROJECT="AI-NEMOGUARDRAIL"
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT=https://api.smith.langchain.com

